<header>
        <h1>{{title}}</h1>

        <div>
                <a href="/">Home page</a>
                <a href="/help">help page</a>
                <a href="/about">about page</a>
        </div>
</header>